#album-cover {
}

#spacer1 {
  padding: 20px 20px 20px 20px;
}

#album-title {
  font-size: 22px;
  color: #ffffff;
}

#album-artist {
  font-size: 16px;
  color: #a0a0a0;
}

#album-songs {
  font-size: 16px;
  color: #a0a0a0;
}

#spacer2 {
  padding: 00px 10px 0px 20px;
}

h1 {
  color: #ffffff;
}

#h1-block {
  text-align: center!important;
  padding-bottom: 15px;
  padding-top: 15px;
}

a {
  text-decoration: none!important;
}

a:hover {
  text-decoration: none!important;
}

.image {
 width: 75%
}
