.current-time {
  color: #acacac;
  display: inline-block;
  width: 12.5%;
}

.total-time {
  color: #acacac;
  display: inline-block;
  width: 12.5%;
}

.seek-bar {
    background:#b3b3b3;
    height:7px;
    width: 75%;
    display: inline-block;
}

.volume-bar {
  width: 20%;
  height: 12px;
  padding: 0px 0px 0px 0px;
  margin: 37px 0px 0px 0px;
  display: inline-block;
}

.fa-volume-up {
  color: #b3b3b3;
  display: inline-block;
  margin: 36px 15px 0px 7px;
}

.fa-volume-down {
  display: inline-block;
  color: #b3b3b3;
  margin: 36px 10px 0px 10px;
}

.fa-step-backward {
  display: inline-block;
  color: #b3b3b3;
  padding: 0px 0px 5px 0px;
}

.fa-step-backward:hover {
  color: #ffffff;
}

.fa-step-forward {
  color: #b3b3b3;
  padding: 0px 0px 0px 0px;
}

.fa-step-forward:hover {
  color: #ffffff;
}

.fa-pause-circle {
  padding: 0px 40px 10px 40px;
  color: #ffffff;
}

.fa-play-circle {
  padding: 0px 40px 10px 40px;
  color: #b3b3b3;
}

.fa-play-circle:hover {
  color: #ffffff;
}

#volume-control {
  text-align: left;
  padding-left: 25px;
}

@media (max-width: 767.98px) {
  #volume-control {
    text-align: left;
    padding-top: 10px;
    padding-left: 58px;
  }

  .volume-bar {
    width: 25%;
    height: 5px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
  }

  .fa-volume-up {
    color: #b3b3b3;
    display: inline-block;
    margin: 0px 0px .5px 8px;
  }

  .fa-volume-down {
    display: inline-block;
    color: #b3b3b3;
    margin: 0px 8px .5px 0px;
  }

  .current-time {
    color: #acacac;
    display: inline-block;
    width: 17.5%;
  }

  .total-time {
    color: #acacac;
    display: inline-block;
    width: 17.5%;
  }

  .seek-bar {
      background:#b3b3b3;
      height:7px;
      width: 65%;
      display: inline-block;
  }
}
