.current-time {
  color: #acacac;
  display: inline-block;
  width: 10%;
}

.total-time {
  color: #acacac;
  display: inline-block;
  width: 10%;
}

.seek-bar {
    background:#b3b3b3;
    height:7px;
    width: 80%;
    display: inline-block;
    cursor: pointer;
}

.volume-bar {
  width: 20%;
  height: 12px;
  padding: 0px 0px 0px 0px;
  margin: 37px 0px 0px 0px;
  display: inline-block;
}

.fa-volume-up {
  color: #b3b3b3;
  display: inline-block;
  margin: 0px 235px 0px 8px;
}

.fa-volume-down {
  display: inline-block;
  color: #b3b3b3;
  margin: 0px 10px 0px 0px;
}

.fa-step-backward {
  display: inline-block;
  color: #b3b3b3;
  padding: 0px 0px 5px 0px;
}

.fa-step-backward:hover {
  color: #ffffff;
}

.fa-step-forward {
  color: #b3b3b3;
  padding: 0px 0px 0px 0px;
}

.fa-step-forward:hover {
  color: #ffffff;
}

.fa-pause-circle {
  padding: 0px 40px 10px 40px;
  color: #ffffff;
}

.fa-play-circle {
  padding: 0px 40px 10px 40px;
  color: #b3b3b3;
}

.fa-play-circle:hover {
  color: #ffffff;
}
